
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isAdmin() {
      return exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }
    
    function isSafetyOfficer() {
        return exists(/databases/$(database)/documents/roles_safety_officer/$(request.auth.uid));
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow create: if isOwner(userId);
      allow update, delete: if isAdmin();
    }
    
    match /reports/{reportId} {
      allow read: if isSafetyOfficer() || isAdmin();
      allow list: if isSafetyOfficer() || isAdmin();
      allow create: if true; // Allow anonymous and signed-in users to create reports
      allow update: if isSafetyOfficer() || isAdmin();
      allow delete: if isAdmin();
    }

    match /users/{userId}/reports/{reportId} {
      allow read, list, create, update, delete: if isOwner(userId);
    }
    
    match /corrective_actions/{correctiveActionId} {
        allow read, list: if isSafetyOfficer() || isAdmin();
        allow create, update, delete: if isSafetyOfficer() || isAdmin();
    }

    match /audit_logs/{auditLogId} {
      allow read, write: if isAdmin();
    }

    match /roles_admin/{userId} {
        allow read, write: if isAdmin();
    }

    match /roles_safety_officer/{userId} {
        allow read, write: if isAdmin();
    }
  }
}
